body {
    background-image: url("https://images6.alphacoders.com/555/555187.jpg");
    color:rgb(255, 255, 255);
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    background-size: cover;
}

div {
    width: 300px;
    height: 100px;
    background: #0000009c;
  
  }